<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head> -->
<!-- <body> -->
<main class="container">
  <section *ngIf="loading">
    <h2 class="text-center text-light">
      <small> {{ "information table of" | capatilizacion }} </small> {{ title }}
    </h2>
    <div class="p-2 bg-dark text-light">
      <h4 class="font-weight-bolder fsm">{{ item["name"] }}</h4>
      <h6 class="font-weight-light">{{ item["expansion"] }}</h6>
    </div>
    <table   class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">value</th>
        </tr>
      </thead>
      <tbody class="table-light">
        <tr>
          <th scope="row"></th>
          <td>{{ "id" | capatilizacion }}</td>
          <td>{{ item["id"] }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>{{ "name" | capatilizacion }}</td>
          <td>{{ item["name"] }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>{{ "army type" | capatilizacion }}</td>
          <td>{{ item["army_type"] }}</td>
        </tr>
        <tr *ngFor="let unique_unit of item['unique_unit']; let i = index"  >
          <th scope="row"> {{ i+1 }} </th>
          <td>{{ "unique unit" | capatilizacion }}</td>
          <td> <a class="btn btn-outline-primary btn-sm" [href]="unique_unit" >  click me </a></td>
        </tr>
        <tr *ngFor="let unique_tech of item['unique_tech']; let i = index;"  >
          <th scope="row">{{ i+1}}</th>
          <td>{{ "unique tech" | capatilizacion }}</td>
          <td> <a  class="btn btn-outline-primary btn-sm" [href]="unique_tech"  > click me  </a>  </td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>{{ "team bonus" | capatilizacion }}</td>
          <td>{{ item["team_bonus"] }}</td>
        </tr>
        <tr *ngFor="let civilization_bonus of item['civilization_bonus'] ; let i = index;"  >
          <th scope="row">{{ i+1}}</th>
          <td>{{ "civilization bonus" | capatilizacion }}</td>
          <td class="w-50" > {{ civilization_bonus  }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
<!-- </body>
</html> -->