<main class="container animate__animated animate__zoomIn">
  <section>
    <form
      [formGroup]="forma"
      class="input-group mb-3"
      (ngSubmit)="getSearch(forma)"
    >
      <!-- (keyup)="getSearch(InputSearch.value)" -->
      <input
        #InputSearch
        type="text"
        formControlName="search"
        name="search"
        class="form-control"
        placeholder="enter your search"
        (focus)="focusFunction()"
      />
      <select
        class="custom-select"
        name="select"
        formControlName="selectedItem"
      >
        <option *ngFor="let item of group">{{ item }}</option>
      </select>
      <div class="input-group-append">
        <!-- (click)="getSearch(forma)" -->
        <button type="submit" class="btn btn-secondary">
          {{ "search" | capatilizacion }}
        </button>
        {{ selectedItem }}
      </div>
    </form>
    <section
      name="validations"
      class="animate__animated fadeIn d-flex flex-row justify-content-lg-around"
    >
      <div
        *ngIf="
          forma.controls['search'].errors?.required &&
          forma.controls['search'].touched
        "
        class="alert alert-danger animate__animated animate__fadeInLeft d-flex justify-content-start"
      >
        <p class="text-center p-0 m-0">
          {{ "el valor no es valido" | capatilizacion }}
        </p>
      </div>
      <div
        class="justify-content-end alert alert alert-danger animate__animated animate__fadeInRight"
        *ngIf="
          forma.controls['selectedItem'].errors?.required &&
          forma.controls['selectedItem'].touched
        "
      >
        <p class="text p-0 m-0">
          {{ "la seleccion no es valida" | capatilizacion }}
        </p>
      </div>
      <div
        *ngIf="nullItem"
        class="alert alert-danger text-center animate__animated animate__fadeInDown"
      >
        <p class="p-0 m-0">
          {{ "no ha seleccionado ningun item" | capatilizacion }}
        </p>
      </div>
    </section>
  </section>
  <section>
    <div class="alert alert-success">
      <p>
        {{'hello welcome to the quick guide to the era of empires 2, in this guide
        you will find all the teconolgias, units and structures of the 18
        civilizations existing in this game'| capatilizacion}}
      </p>
      <ul>
        <li></li>
      </ul>
    </div>
  </section>
</main>
